<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todoApp
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/main.css">
</head>
<body >
    <div class="wrap">
        <div class="header" id="header">
            <h1 class="title eng">Todo_day</h1>
            <span class="sucess">sucess : 0</span>
            <button id="theme" value="Dark" class="btn theme transpar material-symbols-outlined" onclick="changeTheme(this)">partly_cloudy_day</button>
        </div>
        <p class="intro" onclick="delIntro(this)">Todo_day 는 Todo 기능과 D-day 기능을 <br>합친 간단한 챌린지 앱입니다</p>
        <ul id="itemList" class="itemList">
                {% for user in users %}
                <li class="item headline fadein" id="{{user._id}}">
                    <input type="checkbox" name="" class="{{user.checked}}" id="checkbox" value="{{user.checked}}" onclick="doneTodo(this)">
                    <span>{{user.name}}</span>
                    <span class="dday">{{user.date}}</span>
                    <button type="button" onclick="delTodo(this)">x</button>
                </li>
                {% endfor %}
            </ul>
            <button type="button" onclick="deleteAll()" class="deleteAll">All delete</button>
        <button type="button" id="toggle" class="btn toggle transpar fadein" onclick="toggle(this)"
        >
            + ADD
        </button>
        <div class="input_bar fadein border" id="input_bar" style="display: none;">
            <!-- <form class="input_bar fadein border"> -->
                <input type="text" id="addValue" class="addValue transpar" placeholder="Enter Anyting..." name="name">
                <div class="tool">
                        <input type="date" id="dateValue" class="date">
                        <button type="submit" id="addList" class="btn plus border" onclick='addTodo()'>+</button>
                        <button type="button" id="exitBtn" class="btn exit" style="width: 100%;"> 
                            ESC
                        </button>
                </div>
            <!-- </form> -->
                
        </div>
     </div>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   
     <script src="/main.js"></script>

</body>
</html>