/* google font */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* default CSS */
:root{
 --bg-color : #262626;
 --font-color : #fff;
 --red : #E33A3A;
 --basic-border : 1px solid #fff;
}

*{ 
    padding: 0;
    margin: 0;
    font-size: 16px;
}
body {
    background-color: var(--bg-color);
    color: var(--font-color)
}

div {
    box-sizing: border-box;
}
/* elements */
.wrap {
    position: relative;
    height: 100vh;
}

/* header */
.header {
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    line-height: 1.333;
    border-bottom: 1px solid #fff;
}
.intro {
    text-align: center;
    opacity: 40%;
    margin-bottom: 10px;
    cursor: pointer;
}
.title { 
    font-size: 30px;
    font-weight: normal;
    width: 70%;
    padding-left: 10px;
}
.sucess {
    min-width: 80px;
    margin: auto;
    font-weight: bold;
}
.theme {
    min-width: 50px;
    color: #fff;
}
/* contents */
.itemList{
    display: flex;
    flex-direction: column;
    padding: 0 20px; 
}

.itemList .item {
    width: 100%;
    height: 50px;
    display: flex;
    line-height: 3;
    justify-content: space-between;
}

.item > input[type="checkbox"] {
    min-width: 30px;
    margin-right: 10px;
}
.item > span:nth-of-type(1){
    flex-basis: 50%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item > span:nth-of-type(2){
    flex-basis: 30%;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
}
.item > button {
    flex-basis: 10%;
    background:none;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: auto;
}
.deleteAll {
    margin: 12px 0;
    padding-right: 20px;
    width: 100%;
    color: var(--red);
    border: none;
    background:none;
    text-align: right;
    cursor: pointer;
}

.toggle {
    width: 100%;
    color:#fff;
    font-size: 30px;
}
/* input todo bar */
.input_bar {
    display: none;
    top: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
}

.input_bar .addValue {
    display: block;
    padding: 10px;
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    outline: none;
}

.tool {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.tool .date {
    flex-basis: 40%;
    background : #fff;
    color: #000;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 10px;
}
.tool .plus {
    flex-basis: calc(40% - 1em);
    border-radius: 4px;
    margin-left: auto;
    color: #fff;
    font-size: 40px;
}

.tool .exit {
    flex-basis: calc(20%);
    margin-left: auto;
    background:var(--red);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
}

.exit:hover {
    background: none;
    color: var(--red);
    transition-duration: 0.333s;
}

/* option CSS */
.btn {
    cursor: pointer;
}


.transpar {
    background: none;
    border: none;
}

.border {
    background: none;
    border: var(--basic-border);
}

.fadein {
    animation: fadein 3s ease 1s;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.name_checked{ text-decoration: line-through;}

.headline {
    border-bottom: 1px solid #fff;
}

