:root{
 --bg-color : #262626;
 --font-color : #fff;
 --red : #E33A3A;
 --basic-border : 1px solid #fff;
}

*{ 
    padding: 0;
    margin: 0;
    font-size: 16px;
}
body {
    background-color: var(--bg-color);
    color: var(--font-color)
}

div {
    box-sizing: border-box;
}

.wrap {
    position: relative;
    height: 100vh;
}
.header {
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    line-height: 1.333;
    border-bottom: 1px solid #fff;
}
.intro {
    text-align: center;
    opacity: 40%;
    margin-bottom: 10px;
    cursor: pointer;
}
.title { 
    font-size: 30px;
    font-weight: normal;
    width: 70%;
    padding-left: 10px;
}
.gage {
    min-width: 80px;
    margin: auto;
    font-weight: bold;
}

.itemList{
    display: flex;
    flex-direction: column;
    padding: 0 20px; 
}

.itemList > .item {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    animation: fadein 3s ease 1s;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
}

.headline {
    border-bottom: 1px solid #fff;
}
.item > input[type="checkbox"] {
    width: 30px;
    margin-right: 10px;
}
.item > span:nth-of-type(1){
    min-width: 150px;
    text-align: left;
}

.item > span:nth-of-type(2){
    min-width: 55px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
}
.item > button {
    width: 50px;
    background:none;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: auto;
}
.deleteAll {
    margin: 12px 0;
    padding-right: 20px;
    width: 100%;
    color: var(--red);
    border: none;
    background:none;
    text-align: right;
    cursor: pointer;
}

.name_checked{ text-decoration: line-through;}

.toggle {
    width: 100%;
    color:#fff;
    font-size: 30px;
}

.transpar {
    background: none;
    border: none;
}

.border {
    background: none;
    border: var(--basic-border);
}

.fadein {
    animation: fadein 3s ease 1s;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.btn {
    cursor: pointer;
}

.input_bar {
    top: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
}

.input_bar .addValue {
    display: block;
    padding: 10px;
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    outline: none;
}

.tool {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.tool > * {
    line-height: 1.333;
}

.tool .date {
    flex-basis: 40%;
    background : #fff;
    color: #000;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 10px;
}
.tool .plus {
    flex-basis: 40%;
    margin-left: 7px;
    border-radius: 4px;
    color: #fff;
    font-size: 40px;
}

.tool .exit {
    flex-basis: 20%;
    margin-left: 7px;
    background:var(--red);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
}

.exit:hover {
    background: none;
    color: var(--red);
    transition-duration: 0.333s;
}